#vitrineAppPopup .button.btn-cart{
    background: #3399cc;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

#vitrineAppPopup {
    width: 100%;
}

#vitrineAppPopup div[name="modal"]{
    position: relative !important;
}

#vitrineAppPopup a {
    color: #3399cc;
    text-decoration: none;
}

#vitrineAppPopup .price-box .price {
    color: #3399cc;
    font-size: 16px;
  }