<template>
	<div :id="popupID">
		<div name="modal">
			<div :is="{template:html, data: () => { 
				return $data; }}">
			</div>
		</div>
	</div>
</template>

<script>
	import Mustache from 'mustache'

	export default {
		components: {
		},

		data() {
			return {
			}
		},

		mounted()
		{
			this._createStyle()
			var me = this;

			setTimeout(() => {
				me._addListeners();
			}, 500)
		},

		methods: {
			_createStyle() {
				let data = Object.assign(this.$data, {
					_uid: this._uid
				})
				Mustache.escape = function(text) {return text;}
				let textRendered = Mustache.render(this.style, data)

				let styleElement = document.createElement('style')
				styleElement.type = "text/css"
				styleElement.innerHTML = textRendered

				let doc = this.$el
				doc.appendChild(styleElement)
			},

			_addListeners() {
				var modal = this._getModal()

				modal.addEventListener('mouseup', (evt) => {
					let element = evt.target
					if (element === modal || !modal.contains(element))
						element.style.display = 'none'
				})
			},

			_getModal() {
				return this.$el.querySelector('div[name="modal"]')
			}
		}
	}
</script>