<article id="root_modal">
	<section id="popup">
		<div id="vitrineAppPopup_top">
			<div class="edit">
				<p>Temos alguns itens especiais para você!</p>
			</div>
		</div>
		<footer id="sliderContainer">
			<div class="product-image-container">
				<a href="{{link}}" title="{{title}}" class="product-image">
					<img alt="{{title}}" style="margin: 0 auto; width: 90%; height: auto;" src="{{image_link}}"
						onerror="this.src='https://screenshotlayer.com/images/assets/placeholder.png';">
				</a>
			</div>
			<div class="product-info" style="margin: 0 auto; text-align: center;">
				<a class="product-name svTextlimit" href="{{link}}" title="{{title}}">
					{{title}}
				</a>
				<div class="price-box">
					{{^sale_price}}
					<p class="regular-price"><span class="price">R${{price}}</span></p>
					{{/sale_price}} {{#sale_price}}
					<p class="old-price">
						<span class="price-label">De:</span><span class="price">R${{price}}</span>
					</p>

					<p class="special-price">
						<span class="price-label">Por:</span><span class="price"
							id="product-price-37218">R${{sale_price}}</span>
					</p>
					{{/sale_price}}
				</div>
				<div class="actions">
					<div class="actions-buttons">
						<button type="button" title="Comprar" class="button btn-cart" onclick="setLocation('{{link}}')">
							<span>
								<span>Comprar</span> </span>
						</button>
					</div>
				</div>
			</div>
		</footer>
	</section>
</article>

<style>
	section#popup {
		border-radius: .3em;
		width: 80%;
		min-height: 80%;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 14px 0px rgba(0, 0, 1, 0.77);
		background: #f6f6f6;
		background-size: cover;
		overflow: hidden;
		padding: 1em;
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	}

	section#popup #sliderContainer {
		display: flex;
		background-color: rgba(0, 0, 0, .15);
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
	}

	section#popup #vitrineAppPopup_top {
		text-shadow: 0px 0px 4px #80808042;
		font-weight: 500;
		font-size: 2.5em;
		font-family: 'Tahoma';
		height: 30%;
		text-align: center;
	}

	article#root_modal {
		background-color: rgba(0, 0, 0, .6);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		z-index: 998;
		top: 0;
		left: 0;
		position: fixed;
	}
</style>